html, body{
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	font-family: 'Poppins', sans-serif;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background: #4d4d4d;
}

.navbar-btn:focus {
    background: #4d4d4d;
}

.navbar-btn:active {
    background: #4d4d4d;
}

.navbar-btn:hover {
    background: #4d4d4d;
}

.badgene{
	background-color: #e68a00;
	color: #FFF;
}

/*--------------Buat Scroll Bar----------*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #7386D5;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

/* ---------------Buat sidebar---------- */
#sidebar{
	width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #404040;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .profile {
    padding: 5px 20px;
    background: #4d4d4d;
    text-align: center;
    align-content: center;
}

#sidebar .profile h5{
    background-color: #d9d9d9;
    color: #4d4d4d;
    padding: 10px;
    margin-top: -1px;
}

#sidebar ul{
    padding: 3px 0;
}

#sidebar ul li{
	border-bottom: 2px solid #4d4d4d;
}

#sidebar ul li ul li a{
    background: #d9d9d9;
    color: #4d4d4d;
}

#sidebar ul li ul li a:hover{
    color: #737373;
    background: #d9d9d9;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: #FFF;
}

#sidebar ul li a:hover {
    color: #f2f2f2;
    background: #595959;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
}

/*a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}*/


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


/* ---------------Buat konten---------- */
#konten{
	width: calc(100% - 250px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#konten.active{
	width: 100%;
}

#konten .navbar{
	border-radius: 0;
	border: 0;
	background-color: #fff;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#konten .isi{
	padding: 0px 7px;
}

.pering{
	font-size: 12px;
	position: absolute;
}

/* buat table detail order*/
.tableDetail tr td{
	padding: 2px 2px;
}

/* buat dashboard */
.ngarep{
	background: #7386D5;
	padding: 5px;
	border-radius: 3px;
}

.ngarep table .thead{
	color: #7386D5;
	font-size: 15px;
}

.ngarep table tbody{
	font-size: 15px;
	background: #FFF;
}

/* buat responsive pake mediaquery */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #konten {
        width: 100%;
    }
    #konten .navbar{
    	padding: 5px;
    }
    #konten.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* buat profile e */
.bulat{
	border-radius: 100em;
	border:2px solid #fff;
	width: 200px;
	height: 200px;
}